* {
  margin: 0;
}

body {
  font-family: 'Cormorant Garamond', 'Helvetica', 'Verdanda', 'Arial';  
  background-color: #1c1d1f;
  color: #fafafef6;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

nav {  
  font-size: 2.5rem;
  margin-top: -10px;
  text-align: center;
}

nav>h1 {
  font-size: 8rem;
  font-style: normal;
}

nav>h6 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.quote-block{
  margin-top: 12vh;
  width: 60vw;
  height: 30vh;
  font-style: italic;  
  font-size: 2rem;
  padding: 10px;    
}

.quote {
  text-align: center;
}

.author {  
  font-style: normal;
  font-size:1.7rem;
  margin-top: 5vh;
  margin-right: -5px;
  float: right;
}


button {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 220px;
  height: 70px;
  background-color: fafafef6;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 5px;
  border-style: none;
  color: #1c1d1f;
}

@media (max-width: 500px) {
  .page {
    height: auto;
    margin-top: 8vh;
  }
  nav {
    width: 65vw;
  }
  nav>h1 {
    font-size: 3.8rem;
  }
  nav>h6 {
    font-size: 4vw;
  }
  .quote-block {
    /* margin-top: 6vh; */
    font-size: 5.5vw;
    height: 25vh;
    width: 85vw;
  }  
  .author {
    font-size: 5vw
  }
  button {    
    font-size: 1rem;
    height: 8vh;
    width: 50vw;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

  box-shadow: none !important;
} */